@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Domine');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

h1{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    font-size: 150px;
    line-height: 150px;
    text-transform: uppercase;
    margin: 1.25rem 0 0 0;
}

p{
    max-width: 650px;
    margin-top: 0px;
    margin-bottom: 44px;
    font-family: 'Merriweather', serif;
    color: #737373;
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    text-align: justify;
}

.p-capital{
    font-size: 71px;
    color: #4f4f4f;
    line-height: 68px;
    display: block;
    float: left;
    margin: 0 14px 0 0;
}

.p-sub{
    margin-top: 40px;
    font-family: 'Domine', sans-serif;
    font-size: 30px;
    color: #4f4f4f;
    font-weight: 300;
    line-height: 44px;
}

/******** STELLAR  ********/

.hero{
    height: 100%;
    width: calc(100% / 3);
    overflow: hidden;
    position: absolute;
    transition: 500ms ease 0s;
}

.stellar{
}

/* left container */

.left-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(3, 3, 3, 0.6)), url("../assets/stellar/stellar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 500ms ease 0s;
    z-index: 2;
}

.butn-back{
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    height: 5%;
    top: 0%;
    right: 4%;
    padding-top: 2.5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11px;
    font-weight: 600;
    transition: 500ms;
    cursor: pointer;
    opacity: 0;
}

.butn-back:hover{
    transform: translateX(-20px);
    transition: 500ms;
}

.butn-back>img{
    display: inline-block;
    width: 9px;
    margin-right: 10px;
    vertical-align: -20%;
}

.left-content-container{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0,0,0,1) );
    height: 70%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    opacity: 0;
    /* transition: 500ms; */
}

.left-content{
    max-width: 400px;
    position: absolute;
    bottom: 7%;
    right: 5%;
    width: 100%;
    text-align: right;
}

.tag{
    float: right;
    background-color: rgb(85, 88, 161);
    color: #fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    padding: 3px 10px;
    margin-left: 10px;
}

.left-content-h1{
    color: #fff;
    font-size: 100px;
    line-height: 110px;
}

.left-content-p{
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
    padding-left: 8rem;
    font-size: 24px;
}


/* right container */

.right-w-container{
    background-color: #fff;
    box-sizing: border-box;

    width: 50%;
    height: 100%;
    float: left;
    padding: 0 4% 0 3%;
    overflow: auto;
    transform: translateX(-200%);
    transition: 500ms ease 0s;
}

/******* NATIVE ********/

.native{
    /* z-index: 1; */
    left: 33.33%;
}
.left-native{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(3, 3, 3, 0.6)), url("../assets/native/native.jpg");
    position: absolute;
}

/* left container */

.lfc-native{
    opacity: 0;

}


.lfc-native .tag{
    background-color: #55a18d;
}



/******** SHARK ********/

.shark{
    left: 66.66%;
    
}

.left-shark{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(3, 3, 3, 0.6)), url("../assets/shark/shark.jpg");
}

.w-shark{
    transform: translateX(200%);
}

.lfc-shark .tag{
    background-color: #c49854;
}

.lc-shark{
    left: 5%;
    float: left;
    text-align: left;
}

.lc-shark p{
    text-align: left;
    padding-left: 0;
    padding-right: 8rem;

}

.lc-shark .tag{
    float: left;
    margin-left: 0px;
    margin-right: 50%;
}